@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600&display=swap');

:root {
    --red-clr: hsl(0, 36%, 70%);
    --soft-red-clr: hsl(0, 93%, 68%);
    --dark-red-clr: hsl(0, 6%, 24%);

}

body {
    background: url('./images/bg-pattern-desktop.svg'),
    linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
    font-family: 'Josefin Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 360px;
}

.logo > img {
    padding: 2rem;
    width: 50%;
    height: auto;
}

h1 {
    text-transform: uppercase;
    font-size: 3rem;
    color: hsl(0, 6%, 24%);
}

p, h1:nth-child(1){
    margin-top: 1rem;
    color: var(--red-clr) ;
    font-weight: 100;
}

p {
    font-size: 16px;
}

.text-container {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 5rem;
    margin-top: 2.5rem;
}

#form-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

input[type=email] {
    border: 1px solid var(--red-clr);
    border-radius: 2rem;
    padding: 10px;
    width: 60%;
    color: var(--red-clr);
  }

::placeholder {
    color: var(--red-clr);
}

  .button {
    background: linear-gradient(90deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    border: none;
    padding: 9px 20px;
    text-decoration: none;
    border-radius: 45%;
    box-shadow: 0 5px 20px 3px hsl(0, 80%, 86%);
    position: absolute;
    left: 240px;
  }

  .error-border {
    border: 5px solid black;
  }

  .email-error {
    position: absolute;
    left: 210px;
  }

  .hidden {
      visibility: hidden;
  }

  .container-desktop {
      display: none;
  }

  #error-icon {
      position: absolute;
  }

  .email-error-message {
      text-align: center;
  }

  /* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1000px) {
    .container {
        display: none;
    }

    .container-desktop {
        display: flex;
    }

    .text-container-desktop {
        margin-top: 5rem;
        width: 50%;
        height: 100vh;
        padding-left: 10rem;
    }

    .text-container-desktop > p {
        padding-right: 10rem;

    }

    .img-container-desktop {
        width: 50%;
        height: auto;
        margin-left: 3.5rem;
        
    }
    
    .logo-desktop {
        margin-bottom: 5rem;
    }

    #form-desktop {
        display: flex;
        margin-top: 2rem;
    }
    .button-desktop {
        background: linear-gradient(90deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
        border: none;
        padding: 9px 20px;
        text-decoration: none;
        border-radius: 45%;
        box-shadow: 0 5px 20px 3px hsl(0, 80%, 86%);
        position: absolute;
        left: 390px;
      }





}






