@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600&display=swap');

:root {


}

body {
    background: url('./images/bg-pattern-desktop.svg'),
    linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 375px;
}

.logo > img {
    padding: 2rem;
    width: 50%;
    height: auto;
}

h1 {
    text-transform: uppercase;
}

p {
    margin-top: 1.5rem;
}

.text-container {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 1.5rem;
    margin-top: 2.5rem;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;

}




